body {
    /*background-image: url("../img/infoWall.jpg");*/
    /*background-repeat: no-repeat;*/
   	/*background-attachment: fixed;*/
   	/*background-position: center;*/
   	/*background-size: 80%;*/
}

.buttons {
	margin-top: 15px;
	display: inline-block;
}

.attack, .magic, .items, .cancel {
	display: block;
	margin: 5px;
}

.inputField {
	margin-top: 15px;
}

.characters {
	display: inline-block;
	border: 2px solid black;
}

.Knight {
	display: inline-block;
	padding: 0 2px 0 5px;
}

.Archer {
	display: inline-block;
	padding: 0 2px 0 2px;
}

.Sorcerer {
	display: inline-block;
	padding: 0 5px 0 2px;
}

p {
	margin-top: 20px;
}